@charset "UTF-8";
/* CSS Document */

/* IMPORTANT DO NOT TOUCH */
@font-face {
    font-family: 'HNL' ;/*a name to be used later*/
    src: url('../font/HNL.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SFPRODISLIGHT' ;/*a name to be used later*/
    src: url('../font/sfprodislight.otf'); /*URL to font*/
}

@font-face {
    font-family: 'SFPROLIGHT' ;/*a name to be used later*/
    src: url('../font/sfprolight.otf'); /*URL to font*/
}
@font-face {
    font-family: 'SFPROSEMI' ;/*a name to be used later*/
    src: url('../font/sfprosemi.otf'); /*URL to font*/
}
@font-face {
    font-family: 'SFPROMED' ;/*a name to be used later*/
    src: url('../font/sfpromed.otf'); /*URL to font*/
}
div { overflow: hidden; }

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	background-color:#313131;
}
/* IMPORTANT DO NOT TOUCH */

div.header{ margin-bottom: 5px; /* or whatever */ }

div#paraima{
	
	float:right;
}

div.content {
	position:relative;
	text-align: center;
	background: #ffffff;
	padding: 10px 10px;
	}


div.footer { 
	text-align:center;
	text-color: ffffff;
	float:none;
	font-size: 1em;
	background: #f2f2f2;
	}
div#text { 
	font-family: "HNL", Helvetica, fantasy;
	text-align:left;
	float:left;
	font-size: 1.3em;
	color: #111111;
	padding: 10px 10px;
	
	}
div#text1 { 
	font-family: "HNL", Helvetica, fantasy;
	text-align:center;
	float:none;
	font-size: 1.5em;
    
	color: #111111;
	
	}
div#social { 
	margin: auto;
	font-family: "HNL", Helvetica, fantasy;;
	text-align:center;
	float:right;
	font-size: 1em;
	padding: 20px 20px;
	
	}
div#sidepanel {
	float:right;
	padding: 10px 10px;
}

div#logo { 
	position:relative;
	font-family:'SFPROLIGHT',Helvetica, Arial;
	text-align:left;
	float:left;
	font-size: 3em;
	color: #111111;
	padding: 10px 10px;
	
	}
	

ul.topnav {
    font-family: 'SFPROLIGHT',Helvetica, Arial;
    list-style-type: none;
    margin: 0;
	width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #313131

}

ul.topnav li {float: left;}

ul.topnav li a {
    font-family: 'SFPROLIGHT',Helvetica, Arial;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
	
ul.topnav li a:hover:not(.active) {background-color: #5a5a5a;}

ul.topnav li a.active {background-color: #454545;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
	div#logo{float:none;}
	div#text{float:none;}
	div#logo{text-align:center;}
	div#social{float:none;}
	div#twitter{float:none;}
}

/* HEADERS/ HR */
h1 { 
	position:relative;
	font-family: "SFPROMED",Helvetica, Arial;
	text-align:center;
	font-size: 3em;
	color: #111111;
	
}
h5 { 
	position:relative;
	font-family: "SFPROLIGHT",Helvetica, Arial;
	text-align:center;
	font-size: 1.4em;
	color: #7c7c7c;
	
}
h6 { 
	position:relative;
	font-family: 'SFPROLIGHT',Helvetica, Arial;
	text-align:center;
	font-size: 1em;
	color: #7c7c7c;
	
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #dedede;
}
/* HEADRS/ HR END*/

/* FOR HYPERLINKS */
a:link {
    color: #313131;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #313131;
}

/* mouse over link */
a:hover {
    color: #313131;
}
/* END FOR HYPERLINKS*/

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	padding: 4px 2px;
}
