@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'HNL'; /*a name to be used later*/
    src: url('../font/HNL.ttf'); /*URL to font*/
}

div { overflow: hidden; }

body {
	background-color:#333;
}

div.header{ margin-bottom: 5px; /* or whatever */ }

div#social { 
	margin: auto;
	font-family: "HNL", "HNL", fantasy;
	text-align:center;
	float:right;
	font-size: 3em;
    text-shadow: 0px 1px 1px black;
	
	}

div#logo { 
	position:relative;
	font-family: "HNL", "HNL", fantasy;
	text-align:left;
	float:left;
	font-size: 3em;
    text-shadow: 0px 1px 1px black;
	color: #dddddd;
	
	}
	

ul.topnav {
    font-family: "HNL", "HNL", fantasy;
    list-style-type: none;
    margin: 0;
	width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #3E3E3E

}

ul.topnav li {float: left;}

ul.topnav li a {
    font-family: "HNL", "HNL", fantasy;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
	
ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #c70039;box-shadow: inset 0px 0px  2px black;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
	div#logo{float:none;}
	div#logo{text-align:center;}
	div#social{float:none;}
	div#twitter{float:none;}
}

/* This is where my headers/hr reside*/
h1 { 
	position:relative;
	font-family: "HNL", "HNL", fantasy;
	text-align:center;
	font-size: 3em;
    text-shadow: 0px 1px 1px black;
	color: #dddddd;
	
}

hr {
    box-shadow: inset 0px 0px  5px black;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 7px;
    background-color: #c70039;
}

/*SOCIALMEDIA*/
div#twitter { 
	margin: auto;
	font-family: "HNL", "HNL", fantasy;
	text-align:center;
	float:right;
	font-size: 1em;
    text-shadow: 0px 1px 1px black;
	
	}