@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'HNL'; /*a name to be used later*/
    src: url('../font/HNL.ttf'); /*URL to font*/
}

div { overflow: hidden; }

body {
	background-color:#333;
}

div.header{ margin-bottom: 5px; /* or whatever */ }

div#social { 
	position:relative;
	margin: auto;
	font-family: "HNL", "HNL", fantasy;
	text-align:center;
	float:right;
	font-size: 3em;
    text-shadow: 0px 1px 1px black;
	
	}

div#logo { 
	position:relative;
	font-family: "HNL", "HNL", fantasy;
	text-align:left;
	float:left;
	font-size: 3em;
    text-shadow: 0px 1px 1px black;
	color: #dddddd;
	
	}
	

ul.topnav {
    font-family: "HNL", "HNL", fantasy;
    list-style-type: none;
    margin: 0;
	width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #3E3E3E

}

ul.topnav li {float: left;}

ul.topnav li a {
    font-family: "HNL", "HNL", fantasy;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
	
ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #c70039;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

/* This is where my headers reside*/
h1 { 
	position:relative;
	font-family: "HNL", "HNL", fantasy;
	text-align:center;
	font-size: 3em;
    text-shadow: 0px 1px 1px black;
	color: #dddddd;
	
}