@font-face {
    font-family: 'HNL'; /*a name to be used later*/
    src: url('font/HNL.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'HNM'; /*a name to be used later*/
    src: url('font/HNM.ttf'); /*URL to font*/
}
header {
    font-family: "HNL", "HNL", fantasy;
    font-size: 4.5em;
    text-shadow: 0px 1px 1px black;
    color: #dddddd;
    vertical-align: top;
    text-align: left;

}
body {
    background-color: #2b2b2b;
}
h1   {
    font-family: "HNL", "HNL", fantasy;
    font-size: 3.2em;
    text-shadow: 0px 1px 1px black;
    color: #dddddd;
    text-align: center;
    padding: 20;
}
footer {
    font-family: "HNL", "HNL", fantasy;
    font-size: 1em;
    text-shadow: 0px 2px 5px black;
    color: #dddddd;
    text-align: center;
}
hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 5px solid #ffffff;
    box-shadow: 0px 2px  5px black;
    margin: 1em 0;
    background-color: white;
    padding: 2;
		color: #ffffff
}

body {margin: 0;}

ul.topnav {
    font-family: "HNL", "HNL", fantasy;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

ul.topnav li {float: left;}

ul.topnav li a {
    font-family: "HNL", "HNL", fantasy;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #c70039;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

img {
    position: absolute;

    right:0;
    top: 0;
}
