/* San Fransico Body of the text('body'), shadowed and everything yippie! */
body{
	font-family: "sf1", "sf1", fantasy;
	font-size: 1.0em;
	text-shadow: 0px 2px 5px black;
	color: #ffffff;
	text-align: center;

}
body {
    background-color: #b892a0;
}
/* San Fransico Header1 or 'h1'*/
h1 {
	font-size: 1.3em;
	text-align: center;
}
/* San Fransico Welcoming!('header') */
header {
	font-family: "sf1", "sf1", fantasy;
	font-size: 3em;
	text-shadow: 0px 2px 5px black;
	color: #ffffff;
	text-align: left;
}

/* San Fransico has been said 4 times, what is it? A font of course! Right below is the font import */
@font-face {
    font-family: 'sf1'; /*a name to be used later*/
    src: url('fonts/sf1.otf'); /*URL to font*/
}
/* Life wouldn't be possible without 'hr', he's our beautiful divider line. Call him if you're in a fight */
hr {

    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #ffffff;
    margin: 1em 0;
    padding: 0;
		color: #ffffff
}
/* You know that bottom of the page that has that copyright text and everything, that's 'p' */
p {
	font-family: "sf1", "sf1", fantasy;
	font-size: 1.0em;
	text-shadow: 0px 2px 5px black;
	color: #ffffff;
	text-align: center;
}
/* So blue links turn white, I've put 'a' in place */
a:link{
    color:#FFFFFF;
}
a:visited{
    color:#FFFFFF;
}
a:hover{
    color:#FFFFFF;
}
/* W3School helped me create the animated .button, It is an animated button that transitions over to the side allowing a new character */
.button {
	font-family: "sf1", "sf1", fantasy;
	color: #FFFFFF;
	font-size: 1.0em;
	text-shadow: 0px 2px 5px black;
  display: inline-block;
	background-color: none;
	outline:none;
	background-color: Transparent;
  border: none;
	border-radius: 4px;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
	padding: 20px;
  width: 160px;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
