body{
	font-family: "sf1", "sf1", fantasy;
	font-size: 1.0em;
	text-shadow: 0px 2px 5px black;
	color: #ffffff;
	text-align: center;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
header {
	font-family: "sf1", "sf1", fantasy;
	font-size: 5em;
	text-shadow: 0px 2px 5px black;
	color: #ffffff;
	text-align: left;
}
@font-face {
    font-family: 'sf1'; /*a name to be used later*/
    src: url('fonts/sf1.otf'); /*URL to font*/
}
hr {

    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #ffffff;
		width: 100%
    margin: 1em 0;
    padding: 0;
		color: #ffffff
}
p {
	font-family: "sf1", "sf1", fantasy;
	font-size: 1.0em;
	text-shadow: 0px 2px 5px black;
	color: #ffffff;
	text-align: center;
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover
{
    color:#FFFFFF;
}
.button {
	font-family: "sf1", "sf1", fantasy;
	color: #FFFFFF;
	font-size: 1.0em;
	text-shadow: 0px 2px 5px black;
  display: inline-block;
	background-color: none;
	outline:none;
	background-color: Transparent;
  border: none;
	border-radius: 4px;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
	padding: 20px;
  width: 160px;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
h2 {
  width: 98%;
  margin: 0px auto;
  text-align: left;
}
.twtr-widget {
	text-align: left;
}
